.capital__card {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 520px;
  grid-template-rows:
    minmax(min-content, max-content) minmax(min-content, max-content)
    1fr;
  grid-template-areas:
    "title images"
    "subtitle images"
    "buttons images";
  row-gap: 20px;
}

@media screen and (max-width: 1439px) {
  .capital__card {
    grid-template-columns: 1fr 35.47%;
  }
}

@media screen and (max-width: 767px) {
  .capital__card {
    row-gap: 0;
    display: flex;
    flex-direction: column;
    grid-template-columns: minmax(min-content, max-content);
    grid-template-rows: repeat(4, minmax(min-content, max-content));
    grid-template-areas:
      "title"
      "subtitle"
      "images"
      "buttons";
  }
}
