.header__menu-item_name_programs {
  grid-area: unset;
}

@media screen and (max-width: 1439px) {
  .header__menu-item_name_programs {
    grid-area: 3 / 1;
  }
}

@media screen and (max-width: 767px) {
  .header__menu-item_name_programs {
    grid-area: unset;
  }
}
