.support__contributors-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.support__contributors-list::after {
  background: linear-gradient(
    180deg,
    rgba(231, 240, 255, 0),
    rgba(231, 240, 255, 0.8)
  );
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@media screen and (max-width: 1439px) {
  .support__contributors-list {
    gap: 24px;
  }
}

@media screen and (max-width: 767px) {
  .support__contributors-list {
    gap: 10px;
  }
}
