/* .news__card {
  padding: 30px;
  width: 440px;
  height: 800px;
  box-sizing: border-box;
  border: dotted 1px rgb(0, 38, 255);
  display: grid;
  grid-template-areas:
  "news__topic"
  "news__topic-image"
  "news__topic-text"
  "news__topic-date";
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, minmax(min-content, max-content));
  gap: 30px;
  align-content: space-between;
  border-radius: 30px;

} */

.news__card {
  max-width: 440px;
  height: 800px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-start;
  border-radius: 30px;
  padding: 30px;
  box-sizing: border-box;
  position: relative;
  border: 1px solid rgb(218, 218, 218);

}

.news__card:nth-child(2n){
  background: rgb(218, 239, 213);
}

@media screen and (max-width:1439px) {
  .news__card:nth-child(3n) {
      display: none;
  }
}

@media screen and (max-width:1439px) {
  .news__card {
      gap: 20px;
      max-width: 334px;
      height: 551px;
  }
}



.news__card:hover {
  box-shadow: slategray 0px 0px 5px 0px;

}
