.news__card {
  max-width: 440px;
  height: 800px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-start;
  border-radius: 30px;
  padding: 30px;
  box-sizing: border-box;
  position: relative;
  border: 1px solid rgb(218, 218, 218);
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .news__card {
    max-width: 320px;
    height: 468px;
    padding: 24px;
    gap: 20px;
    /* margin: 0 10px; */
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .news__card {
    max-width: 334px;
    height: 551px;
    gap: 20px;
  }
  .news__card:nth-child(3) {
    display: none;
  }
}

.news__card:nth-child(2) {
  background: rgb(218, 239, 213);
}

.news__card:hover {
  box-shadow: slategray 0px 0px 5px 0px;
}
