.heading3 {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-feature-settings: 'pnum' on, 'lnum' on;
  font-size: 46px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1439px) {
  .heading3 {
    font-size: 26px;
  }
}

@media screen and (max-width: 767px) {
  .heading3 {
    font-size: 22px;
  }
}
