.heading2 {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1439px) {
  .heading2 {
    font-size: 36px;
  }
}

@media screen and (max-width: 767px) {
  .heading2 {
    font-size: 26px;
  }
}
