.news__topic-subtitle{
  grid-area: news__text;
  margin: 20px 0 0;
  padding: 0;
  font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 130%;
/* or 26px */

font-feature-settings: 'pnum' on, 'lnum' on;
}
