.small-text {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1439px) {
  .small-text {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .small-text {
    font-size: 12px;
  }
}
