.news__information {
  grid-area: news__information;
  /* width: 440px;
  height: 800px;
  background-color: thistle;
  padding: 30px;
  margin-top: 50px; */

  display: grid;
  grid-template-columns: repeat(3, 440px);
  gap: 20px;
  margin: 0;
  padding: 0px 40px 0px;
  align-items: center;
}
