.history__cards {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-block: 0;
  padding-inline: 0;
  row-gap: 150px;
}

@media (max-width: 1439px) {
  .history__cards {
    row-gap: 32px;
  }
}
