.logo_header {
    width: 171.32px;
    height: 30px;
}

@media screen and (max-width: 1439px) {
    .logo_header {
        width: calc(137.05px + ((100vw - 768px) * (171.32 - 137.05) / (1439 - 768)));
        height: calc(24px + ((100vw - 768px) * (30 - 24) / (1439 - 768)));
    }
}

@media screen and (max-width: 767px) {
    .logo_header {
        width: 137.05px;
        height: 24px;
    }
}
