.news__topic-date {
  grid-area: news__topic-date;
  grid-row: 4;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: rgba(38, 38, 38, 0.5);
  /* position: absolute; */
  /* bottom: 30px; */
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;

}

@media screen and (max-width: 1439px) {
  .news__topic-date {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
  }
}

@media screen and (max-width: 767px) {
  .news__topic-date {
    font-size: 12px;
    line-height: 120%;
  }
}
