.news__topic-date {
margin: 0;
padding: 0;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 130%;
/* or 23px */

font-feature-settings: 'pnum' on, 'lnum' on;

/* Grey */

color: rgba(38, 38, 38, 0.5);
}
