.project__container {
  max-width: 1360px;
  max-height: 453px;
  background: whitesmoke;
  border-radius: 30px;
  padding: 30px;
  display: grid;
  grid-template-columns: minmax(603px) minmax(142px) minmax(555px);
  grid-template-rows: repeat(auto-fit, 4fr);
  grid-template-areas:
    "project__topic"
    "project__topic-title"
    "project__topic-subtitle"
    "buttons";
  margin-top: 150px;
  justify-items: start;
  align-items: start;
}

/* @media screen and (max-width: 1439px) {
  .project__container {
    grid-template-columns: minmax(339px) minmax(42px) minmax(259px);
  }
}

@media screen and (max-width: 767px) {
  .project__container {

  }
} */
