.button_theme_black-click-back {
  background-color: rgb(51, 51, 51);
  margin-right: 8px;
  background-image: url(../../../images/icon/arrow_back.svg);
  background-size: 17px 17px;
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.button_theme_black-click-back:hover {
  background: #0c4ba0;
  background-image: url(../../../images/icon/arrow_back.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.button_theme_black-click-back:active {
  background: #00275c;
  color: #fff;
  background-image: url(../../../images/icon/arrow_back.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.button_theme_black-click-back:disabled {
  background: #f5f5f5;
  border: 2px solid #c4c4c4;
  color: rgba(38, 38, 38, 0.5);
  cursor: not-allowed;
}

@media screen and (max-width: 1439px) {
  .button_theme_black-click-back {
    background-size: 10px 10px;
    width: 24px;
    height: 24px;
    border-radius: 6px;
    padding: 0;
    margin-right: 4px;
  }

  .button_theme_black-click-back:hover {
    background-size: 10px 10px;
  }
}
