.button_theme_secondary-black {
  border: 1px solid #333;
  color: #333;
}

.button_theme_secondary-black:hover {
  border: 2px solid #333;
}

.button_theme_secondary-black:active {
  background: #333;
  color: #fff;
}

.button_theme_secondary-black:disabled {
  background: #f5f5f5;
  border: 2px solid #c4c4c4;
  color: rgba(38, 38, 38, 0.5);
  cursor: not-allowed;
}
