.button_theme_black_click-forward {
  background-color: rgb(51, 51, 51);
  /* grid-area: buttons;
  grid-row: 1/5;
  grid-column: 2;
  margin-left: 4px;
  justify-self: center;
  align-self: end; */
}
