.header__menu-item_place_row2col2 {
  grid-area: unset;
}

@media screen and (max-width: 1439px) {
  .header__menu-item_place_row2col2 {
    grid-area: 2 / 2;
  }
}

@media screen and (max-width: 767px) {
  .header__menu-item_place_row2col2 {
    grid-area: unset;
  }
}
