.history__info {
  display: grid;
  grid-template-columns: calc(35px + 32px) auto;
  grid-template-rows: repeat(2, auto);
  justify-items: start;
  row-gap: 12px;
}

.history__info > img:nth-child(1) {
  grid-row: 1 / 4;
  padding-top: 10px;
}

@media (max-width: 1439px) {
  .history__info {
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(4, auto);
  }

  .history__info > img:nth-child(1) {
    grid-row: 1;
    padding-top: 0px;
  }
}


@media (max-width: 767px) {
  .history__info {
    row-gap: 14px;
  }

}
