.capital__slide {
  grid-area: buttons;
  display: flex;
  gap: 10px;
  align-items: flex-end;
}

@media screen and (max-width: 1439px) {
  .capital__slide {
  }
}

@media screen and (max-width: 767px) {
  .capital__slide {
    align-self: center;
    justify-content: center;
  }
}
