.button_type_click-forward {
  background-color: #0c4ba0;
  background-image: url(../../../images/icon/arrow_everlandforward.svg);
  background-size: 17px 17px;
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.button_type_click-forward:hover {
  background-color: #4183dc;
}

.button_type_click-forward:active {
  background-color: #00275c;
}

.button_type_click-forward:disabled {
  background-color: #c4c4c4;
  color: rgba(38, 38, 38, 0.5);
  cursor: not-allowed;
}

@media screen and (max-width: 1439px) {
  .button_type_click-forward {
    background-size: 10px 10px;
    width: 24px;
    height: 24px;
    border-radius: 6px;
    padding: 0;
    margin: 0;
  }
}
