.footer__menu {
  display: grid;
  list-style-type: none;
  grid-template-columns: 200px auto;
  grid-template-rows: auto auto auto;
  row-gap: 10px;
  column-gap: 110px;
}

@media screen and (max-width: 1439px) {
  .footer__menu {
    padding-top: 6px;
    grid-template-columns: 3fr 3fr;
    column-gap: 80px;
  }
}

/* Нижестоящее правило не нужно, оставил чтобы визуально быстро понять что для "мобилок" этот элемент обработан */
@media screen and (max-width: 767px) {
  .footer__menu {
    padding-top: 15px;
    column-gap: 15px;
    grid-template-columns: 2fr 2fr;
  }
}
