.header__main {
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, max-content));
  grid-template-areas: "logo menu links";
  grid-template-rows: 80px;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1439px) {
  .header__main {
    grid-template-columns: minmax(min-content, max-content) 1fr minmax(
        min-content,
        max-content
      );
    grid-template-areas: "logo links menu";
  }
}

@media screen and (max-width: 767px) {
  .header__main {
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    grid-template-areas: "logo menu";
    grid-template-rows: 54px;
  }
}
