.news__bt {
  grid-area: news__bt;
  margin: 0 0 50px;
  display: block;
  text-align: end;
  grid-row: 1;
  grid-column: 2/3;
}

@media screen and (max-width: 1439px) {
  .news__bt {
    grid-row: 3;
    grid-column: 1/3;
    text-align: center;
    margin: 32px 0 0;
  }
}
