.section-group{
  margin: 50px auto 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 135px;
}

@media screen and (max-width: 768px) {
  .section-group{
    flex-wrap: wrap-reverse;
    margin: 32px auto 0;
  }
}

@media screen and (max-width: 425px) {
  .section-group{
    margin: 24px auto 0;
    gap: 24px;
  }
}
