.button__click-back {
  background-color: #0C4BA0;
  background-image: url(../../../images/icon/arrow_back.svg);
  background-size: 17px 17px;
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.button__click-back:hover {
  background-color: #4183DC;
}

.button__click-back:active {
  background-color: #00275C;
}

.button__click-back:disabled {
  background-color: #C4C4C4;
  color: rgba(38, 38, 38, 0.5);
  cursor: not-allowed;
}

 @media screen and (max-width: 1439px) {
  .button__click-back {
    background-size: 10px 10px;
    width: 24px;
    height: 24px;
    border-radius: 6px;
  }
 }
