.donation-form__label {
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  padding: 5px 10px;
  position: relative;
}

/* Radiobutton */
.donation-form__radio + .donation-form__label {
  border: 1px solid #dadada;
  height: 48px;
  width: 159px;
}

.donation-form__radio:checked + .donation-form__label {
  border: 1px solid #0c4ba0;
}

/* Checkbox */
.donation-form__check + .donation-form__label {
  padding-left: 32px;
}

.donation-form__check + .donation-form__label::before {
  content: '';
  width: 25px;
  height: 25px;
  border-radius: 10px;
  border: 1px solid #dadada;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  /* TODO: add vertical align for this */
}

.donation-form__check:checked + .donation-form__label::before {
  background-color: #dadada;
  background-image: url(../../../images/check.svg);
  background-position: center center;
}
