.history__audio {
  position: relative;
  background: #fff;
  min-height: 40px;
  width: 40px;
  border-radius: 50%;
  padding: 0;
  border-width: 0;
}

.history__audio::before {
  content: '';
  background-image: url(../../../images/history/Icon_play.svg);
  background-repeat: no-repeat;
  width: 30%;
  height: 30%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-size: contain;
  background-position: center;
}

.history__audio:hover {
  cursor: pointer;
}

@media (max-width: 767px) {
  .history__audio {
    min-height: 24px;
    width: 24px;
  }
}
