.history__content {
  padding-top: 100px;
}

@media (max-width: 1439px) {
  .history__content {
    padding-top: 32px;
  }
}

@media (max-width: 767px) {
  .history__content {
    padding-top: 24px;
  }
}
