.content {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1440px;
  margin-left: 40px;
}

@media screen and (max-width: 1439px) {
  .content {
    max-width: 768px;
    margin-left: 158px;
  }
}

@media screen and (max-width: 767px) {
  .content {
    max-width: 320px;
    margin-left: 10px;
  }
}
