.content {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1440px;
  padding-left: 40px;
  padding-right: 40px;
}

@media screen and (max-width: 767px) {
  .content{
    padding: 0 10px;
  }
}
