.footer__contacts {
  grid-area: contacts;
  display: flex;
  padding-top: 20px;
  gap: 50px;
  flex-wrap: wrap;
}

@media screen and (max-width: 1439px) {
  .footer__contacts {
    gap: 12px;
    padding-top: 0;
  }
}

/* Нижестоящее правило не нужно, оставил чтобы визуально быстро понять что для "мобилок" этот элемент обработан */
@media screen and (max-width: 767px) {
  .footer__contacts {
    gap: 9px;
  }
}
