.accordions {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 50px auto 0;
}


@media screen and (max-width: 1439px){
  .accordions{
    margin: 32px auto 0;
  }
}

@media screen and (max-width: 767px){
  .accordions{
    margin: 24px auto 0;
    gap: 16px;
  }
}
