.news__container {
  grid-area: news__container;
  display: flex;
  margin: 0 0 50px;
  align-items: center;
  grid-row: 1;
  grid-column: 1;
  text-overflow: ellipsis;
}

@media screen and (max-width: 1439px) {
  .news__container {
    max-width: 688px;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .news__container {
    max-width: 300px;
    /* padding: 32px 0px 24px; */
    margin-left: 10px;
    margin-bottom: 24px;
  }
}
