.donation-form__fieldset_for_method {
  margin-top: 24px;
}

@media screen and (max-width: 1439px) {
  .donation-form__fieldset_for_method {
    margin-top: 14px;
  }
}

@media screen and (max-width: 767px) {
  .donation-form__fieldset_for_method {
    margin-top: 32px;
  }
}
