.footer__supported {
  padding: 0;
  margin: 0;
  padding-top: 59px;
  grid-area: supported;
}

@media screen and (max-width: 1439px) {
  .footer__supported {
    padding-top: 29px;
  }
}

@media screen and (max-width: 767px) {
  .footer__supported {
    padding-top: 16px;
  }
}
