.capital__image-two {
  width: 352px;
  height: 315px;
  position: absolute;
  top: 51px;
  right: 40px;
  border-radius: 10px;
  z-index: -2;
}

@media screen and (max-width: 1439px) {
  .capital__image-two {
    width: 184px;
    height: 152px;
    top: 70px;
  }
}

@media screen and (max-width: 767px) {
  .capital__image-two {
    width: 190px;
    height: 144px;
    top: 296px;
    left: 121px;
  }
}
