.donation-form__radiobuttons-container_for_donat {
  column-gap: 40px;
  grid-template-columns: repeat(5, 1fr);
}

@media screen and (max-width: 1439px) {
  .donation-form__radiobuttons-container_for_donat {
    column-gap: 10px;
  }
}

@media screen and (max-width: 767px) {
  .donation-form__radiobuttons-container_for_donat {
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
