.agency__card-image {
  width: 100%;
  height: 460px;
  border-radius: 30px;
}

@media (max-width: 1439px) {
  .agency__card-image {
    height: 334px;
  }
}

@media (max-width: 767px) {
  .agency__card-image {
    height: 300px;
  }
}
