.donation-form {
  background: #fff;
  border-radius: 30px;
  box-shadow: 0px 4px 30px rgba(42, 48, 56, 0.1);
  box-sizing: border-box;
  padding: 30px 17px;
  max-width: 691px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
