.footer__yandex-praktikum-logo {
  max-height: 28px;
}

@media screen and (max-width: 1439px) {
  .footer__yandex-praktikum-logo {
    max-height: 20px;
  }
}

/* Нижестоящее правило не нужно, оставил чтобы визуально быстро понять что для "мобилок" этот элемент обработан */
@media screen and (max-width: 767px) {
  .footer__yandex-praktikum-logo {
    max-height: 20px;
  }
}
