.footer__social-logos {
  display: flex;
  gap: 10px;
  padding-top: 9px;
  overflow: hidden;
}

@media screen and (max-width: 1439px) {
  .footer__social-logos {
    padding-top: 12px;
    gap: 4px;
  }
}

@media screen and (max-width: 767px) {
  .footer__social-logos {
    padding-top: 8px;
  }
}
