.donation-form__text-input {
  background: #fff;
  border-radius: 10px;
  border: 1px solid #dadada;
  box-sizing: border-box;
  line-height: 1.3;
  margin-bottom: 21px;
  max-width: 455px;
  padding: 10px 20px;
  width: 100%;
}

@media screen and (max-width: 1439px) {
  .donation-form__text-input {
    margin-bottom: 16px;
  }
}
