.accordion__title{
  max-width: 565px;
  line-height: 40.8px;
}

@media screen and (max-width: 1439px) {
  .accordion__title{
    max-width: 596px;

    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 120%;
  }
}

@media screen and (max-width: 767px) {
  .accordion__title{
    max-width: 180px;
  }
}
