.accordion__button_theme_orange {
  background-color: #feefea;
  stroke: #e98509;
}

.accordion__button.accordion__button_theme_orange:hover {
  background-color: #e98509;
}

.accordion__button_close.accordion__button_theme_orange {
  background-color: #e98509;
}
