@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

@import url(../blocks/content/content.css);

/* Typography */
@import url(../blocks/heading1/heading1.css);
@import url(../blocks/heading2/heading2.css);
@import url(../blocks/heading3/heading3.css);
@import url(../blocks/heading4/heading4.css);
@import url(../blocks/heading5/heading5.css);
@import url(../blocks/big-text/big-text.css);
@import url(../blocks/main-text/main-text.css);
@import url(../blocks/small-text/small-text.css);
@import url(../blocks/button-text/button-text.css);

/* Buttons */
@import url(../blocks/button/button.css);
@import url(../blocks/button/_theme/button_theme_primary.css);
@import url(../blocks/button/_theme/button_theme_secondary.css);
@import url(../blocks/button/_theme/button_theme_secondary-black.css);

/* Logo */
@import url(../blocks/logo/logo.css);
@import url(../blocks/logo/_place/logo_place_header.css);
@import url(../blocks/logo/_place/logo_place_footer.css);

/* Header */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__main/header__main.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__menu/header__menu.css);
@import url(../blocks/header/__menu-toggler/header__toggler.css);
@import url(../blocks/header/__menu-button/header__menu-button.css);
@import url(../blocks/header/__menu-text/header__menu-text.css);

@import url(../blocks/header/__secondary/header__secondary.css);
@import url(../blocks/header/__secondary-menu/header__secondary-menu.css);
@import url(../blocks/header/__secondary-menu-item/header__secondary-menu-item.css);
@import url(../blocks/header/__buttons/header__buttons.css);
@import url(../blocks/header/__button/header__button.css);
@import url(../blocks/header/__link/header__link.css);

/* Footer */
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__grid/footer__grid.css);
@import url(../blocks/footer/__project-description/footer__project-description.css);
@import url(../blocks/footer/__navigation/footer__navigation.css);
@import url(../blocks/footer/__menu/footer__menu.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__supported/footer__supported.css);
@import url(../blocks/footer/__supported-logos/footer__supported-logos.css);
@import url(../blocks/footer/__supported-logo/footer__supported-logo.css);
@import url(../blocks/footer/__contacts/footer__contacts.css);
@import url(../blocks/footer/__contacts-phones/footer__contacts-phones.css);
@import url(../blocks/footer/__contacts-address/footer__address.css);
@import url(../blocks/footer/__social/footer__social.css);
@import url(../blocks/footer/__social-logos/footer__social-logos.css);
@import url(../blocks/footer/__social-logo/footer__social-logo.css);
@import url(../blocks/footer/__copyrights/footer__copyrights.css);
@import url(../blocks/footer/__yandex-praktikum/footer__yandex-praktikum.css);
@import url(../blocks/footer/__yandex-praktikum-logo/footer__yandex-praktikum-logo.css);

body {
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  flex-shrink: 0;
}
