.agency__button {
  margin: 0 auto;
  margin-top: 50px;
  display: block;
}

@media (max-width: 1439px) {
  .agency__button {
    margin-top: 32px;
  }
}

@media (max-width: 767px) {
  .agency__button {
    margin-top: 24px;
    width: 100%;
  }
}
