.project__image {
  width: 555px;
  height: 393px;
  grid-row: 1/5;
  grid-column: 3;
  justify-self: end;

  /*version-2*/
  background-image: url(../../../images/Image_fpf.png);
  border-radius: 30px;
  background-size: cover;
  background-position: center;

}

@media screen and (max-width: 1439px) {
  .project__image {
    background-image: url(../../../images/Imageqwe.png); /*Изображение на фото тоже самое, но сама фотография другая (первый вариант не подходит под Perfect-Pixel)*/
    width: 259px;
    height: 284px;
    border-radius: 10px;
    grid-column: 2;
    /* box-sizing: content-box; */
  }
}
