.navigation {
    display: flex;
    margin: 0;
    padding: 0;
    min-height: 50px;
    align-items: center;
}

@media screen and (max-width: 1439px) {
    .navigation {
      display: none;
    }
  }