.donation-form__legend {
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.donation-form__legend::before,
.donation-form__legend::after {
  background-color: #dadada;
  content: '';
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 100%;
}

.donation-form__legend::before {
  margin-left: -100%;
  left: -10px;
}

.donation-form__legend::after {
  margin-right: -100%;
  right: -10px;
}

@media screen and (max-width: 1439px) {
  .donation-form__legend::before {
    left: -14px;
  }

  .donation-form__legend::after {
    right: -14px;
  }
}

@media screen and (max-width: 767px) {
  .donation-form__legend::before {
    left: -8px;
  }

  .donation-form__legend::after {
    right: -8px;
  }
}
