.header__menu-item_with-submenu {
  grid-row: span 5;
}

@media screen and (max-width: 1439px) {
  .header__menu-item_with-submenu {
    grid-row: span 1;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .header__menu-item_with-submenu {
    grid-row: unset;
    padding-bottom: 0;
    position: relative;
  }
}
