.footer__yandex-praktikum {
  grid-area: yandex-praktikum;
  display: flex;
  gap: 21px;
  align-items: center;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1439px) {
  .footer__yandex-praktikum {
    padding: 8px 0 0;
    gap: 11px;
  }
}

/* Нижестоящее правило не нужно, оставил чтобы визуально быстро понять что для "мобилок" этот элемент обработан */
@media screen and (max-width: 767px) {
  .footer__yandex-praktikum {
    padding: 13px 0 0;
    align-items: flex-start;
    flex-direction: column;
    gap: 4px;
  }
}
