.footer {
  width: 100%;
  padding-top: 80px;
}

@media screen and (max-width: 1439px) {
  .footer {
    padding-top: 50px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding-top: 32px;
  }
}
