.agency__card {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

@media screen and (max-width: 1439px) {
  .agency__card {
    max-width: 334px;
  }
}

@media screen and (max-width: 767px) {
  .agency__card {
    width: 100%;
  }
}
