.history__image {
  border-radius: 50%;
  max-width: 224px;
}

@media (max-width: 1439px) {
  .history__image {
    max-width: 204px;
  }
}

@media (max-width: 767px) {
  .history__image {
    max-width: 80px;
  }
}
