.header__primary-menu {
  display: flex;
  position: absolute;
  visibility: hidden;
  top: -100%;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: white;
  z-index: 10;
  transition-duration: 0.25s;
}
