.optimization {
  position: relative;
}

@media screen and (max-width: 1439px) {
  .optimization {
    max-width: 768px;
  }
}

@media screen and (max-width: 767px) {
  .optimization {
    max-width: 320px;
  }
}
