.cards__link_color_orange {
  background-color: #FEEFEA;
}

.cards__link_color_orange:hover {
  background-color: #E98509;
}

.cards__link_color_orange:active {
  background-color: #864A00;
}

.cards__link_color_orange:disabled {
  background: #C4C4C4;
  cursor: not-allowed;
}
