.news__text {
  grid-area: news__text;
  -ms-grid-row: 3;
  grid-row: 3;
  padding: 0;
  max-width: 380px;
  margin: 0;
  height: 302px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.news__text:nth-child(2) {
  height: 634px;
}
