.project__text {
  grid-area: buttons;
  box-sizing: border-box;
  grid-row: 1/5;
  grid-column: 2;
  margin-right: 4px;
  justify-self: center;
  align-self: end;
  height: 35px;
  margin: 0;
  padding: 0;
  /* display: flex; */
  justify-self: start;
}

@media screen and (max-width: 1439px) {
  .project__text {
    grid-column: 1;
    grid-row: 1/5;
    justify-self: end;
    height: 24px;
    margin-right: 12px;
    /* height: 0; */
    /* margin-right: 35px; */

  }
}
