.project__text {
  grid-area: buttons;
  box-sizing: border-box;
  grid-row: 1/5;
  grid-column: 2;
  margin-right: 4px;
  justify-self: center;
  align-self: end;
  height: 35px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-self: start;
}

/* width: 603px; */
/* height: 154px; */
