.news {
  color: rgb(0, 0, 0);
  margin: 0 auto;
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
  "news__container"
  "news__information";
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
  max-width: 1440px;
  /* max-width: 100%; */
  /* border: solid 1px rgb(250, 0, 0); */

}

@media screen and (max-width: 1439px) {
  .news {
    max-width: 768px;
  }
}

@media screen and (max-width: 767px) {
  .news {
    max-width: 320px;
    display: block;

  }
}
