.history__story-title {
  height: 120px;
}

@media (max-width: 1439px) {
  .history__story-title {
    height: 72px;
  }
}

@media (max-width: 767px) {
  .history__story-title {
    height: auto;
  }
}
