.history__story-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  height: 120px;
  overflow: hidden;
}

@media (max-width: 1439px) {
  .history__story-title {
    height: 72px;
  }
}

@media (max-width: 767px) {
  .history__story-title {
    -webkit-line-clamp: 2;
    height: 38px;
    width: 172px;
  }
}
