.cards__link-text_color_black {
  color: #333333;
}

.cards__link_color_white:hover .cards__link-text_color_black {
  color: #00275c;
}

.cards__link_color_white:active .cards__link-text_color_black {
  color: #0c4ba0;
}
