.news__topic-image{
/* grid-area: news__topic-image; */
background-size: cover;
border-radius: 30px;
object-fit: cover;
box-sizing: border-box;
/* margin: 30px 0; */
width: 380px;
height: 300px;
}



@media screen and (max-width: 1439px) {
  .news__topic-image {
    width: 274px;
    height: 212px;
  }
}


@media screen and (max-width: 767px) {
  .news__topic-image {
    width: 252px;
    height: 192px;
  }
}
