.heading1 {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-size: 72px;
  font-weight: 700;
  line-height: 1.2;
}

@media screen and (max-width: 1439px) {
  .heading1 {
    font-size: 38px;
  }
}

@media screen and (max-width: 767px) {
  .heading1 {
    font-size: 28px;
  }
}
