.capital__cards {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    padding-inline-start: 0;
    padding-inline-end: 0;
    margin-block: 0;
}