.footer__social-logo {
  margin: 0;
  padding: 0;
  max-height: 64px;
  transition: opacity 0.1s linear;
}

.footer__social-logo:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 1439px) {
  .footer__social-logo {
    max-height: 40px;
  }
}