.heading4 {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-size: 34px;
  font-weight: 700;
  line-height: 1.2;
}

@media screen and (max-width: 1439px) {
  .heading4 {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .heading4 {
    font-size: 16px;
  }
}
